@font-face
{
    font-family: avenir;
    src: url("../fonts/Avenir.ttf");
}
@font-face
{
    font-family: brandon;
    src: url("../fonts/Brandon.ttf");
}
html, body{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/bg.png");
  background-blend-mode: overlay;
  background-position: 50% 55%;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
#intro
{
  color : #FFFFFF;
  position: sticky;
  height: 75%;
  margin-left: 275px;
  margin-top: 180px;
  margin-right: 240px;
}
.large
{
  display: inline-flex;
  font-size: 72px;
  line-height: 90px;
  text-transform: uppercase;
  text-align: left;
  font-family: brandon;
}
.medium
{
  display: block;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 1.5em;
  margin-bottom: 14px;
  font-family: brandon, sans-serif;
}
text
{
  margin-left: 5px;
  font-family:avenir, sans-serif;
}
#products
{
  height: 560px;
  width: 1349px;
  margin-left: -8px;
  background-color: #020202;
}
#story
{
  height: 720px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5) ),url("../img/story-img.png");
  background-repeat: no-repeat;
  margin-left: -8px;
  width: 1349px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 150px;
}
.os
{
  font-family: brandon;
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
center
{
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-left: 410px;
  margin-right: 400px;
  line-height: 28.1333px;
}
