@font-face
{
    font-family: avenir;
    src: url("../fonts/Avenir.ttf");
}
@font-face
{
    font-family: brandon;
    src: url("../fonts/Brandon.ttf");
}
#menu {
    position: relative;
    top: 0;
    background-color: #000000;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
    padding-top: 5px;
}

#menu ul {
    margin: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #1b1b1b;
    padding-left: 68.5px;
    width: 1280px;
    height: 41px;
}

#menu ul li {
    display: inline-flex;
    position: relative;

    list-style: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-size: 12px;

}
#logo img {
    width: 80px;
    margin-right: 43px;
    padding-left: 98px;
}


#logo-text {
    margin-right: 30px;
    color: #FFFFFF;
    padding-left: 78px;
}

#logo-text a {
    font-family: brandon;
    font-size: 18px;
    transition: all ease-in-out 250ms;
    transition-duration: 0.5s;

}

#logo-text a:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #92dbf3,
    0 0 40px #b7fab7, 0 0 50px #a5ffa5, 0 0 60px #7cdeff, 0 0 70px #80d680, 0 0 80px #b6f0b6;
}
ul a {
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

ul li a {
    width: 100%;
}

nav li a:hover {
    color: #FFFFFF;

}

nav li a::before  {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #80d680, 0 0 40px #b6f0b6, 0 0 80px #ADD8E6;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 250ms;
}

nav li a:hover::before {
    width: 100%;

}
#right-buttons {
    position: absolute;
    right: 3%;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-btn {
    right: 7%;
    margin-top: 5px;
    align-self: center;
}

#cart-logo{
    width: 30px;
    transition: 0.5s;
}
#cart-logo:hover {
    width: 35px;

}
